@charset "utf-8";

/*
	KITSAP MMA ONESOURCE V3
    Author: Brian Louderback
    Date: 03/10/2019
	
	Filename: styles.css
*/
	
html {

	font-family: Jazz LET, fantasy, sans-serif;
	color: white;
}
	

body {
	background-image: url(mma-cage-background.png);
	box-shadow: rgba(192, 192, 192, 0.4) 5px -5px 5px 10px;
	color: white;
	font-family: Jazz LET, fantasy, sans-serif;
	max-width: 960px;
	min-width: 640px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
}

header {
	color: white;
	text-align: center;
}


body > header > img {
	display: block;
	width: 100%;
	transform: scale(1, 0.8);
	
}
 
 h1 {
	background-image: url(mma-cage-background.png);
	font-family: Verdana, Geneva, sans-sarif;
	font-size: 1.2em;
	text-align: center;
	background: linear-gradient(#eee, #333);
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
 }
  
 h2 {
	background-image: url(mma-cage-background.png);
	font-family: Verdana, Geneva, sans-sarif;
	font-size: 1em;
	text-align: center;
	background: linear-gradient(#eee, #333);
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
 }
 
 h3 {
	 background-image: url(mma-cage-background.png);
	font-family: Verdana, Geneva, sans-sarif;
	font-size: 1em;
	text-align: center;
	background: linear-gradient(#eee, #333);
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
 }
 
 figcaption {
	background-image: url(mma-cage-background.png);
font-family: Jazz LET, fantasy, sans-serif;
	font-size: 1em;
	text-align: center;

	background: linear-gradient(#eee, #333);
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
 }

 footer {
	font-family: Verdana, Geneva, sans-sarif;
	font-size: 0.85em;
	color: white;
	position: fixed;
 }
  nav {
	height: 30px;
	display: block;
	color: white;
  }
  
nav.horizontalNavigation a {
	color: grey;
	display: block;
	float: left;
	width: 20%;
	padding: .5em;
	text-align: center;
    font-family: Impact, sans-sarif;
    font-size: 1em;
    line-height: 1.2em;
	
}  

section#leftColumn {
	clear: left;
	float: left;
	padding: 1em;
	width: 50%;
}

section#RightColumn {
	clear: right;
	float: right;
	padding: 1em;
	width: 50%;
}



.Left_Fist {
	position: absolute;
	top: 80px;
	left: 20px;
	width: 13%;
	height: 27%;
	opacity: 0.5;
	transform: skew(18deg, 18deg)
}

.Right_Fist {
	position: relative;
	top: -160px;
	right: -320px;
	width: 13%;
	height: 27%;
	opacity: 0.5;
	transform: skew(-18deg, -18deg)
}


ul.submenu {
	display: none;
}
a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
	display: block;
}

table.prices {
	background: gray;
	border: 5px outset rgb(169, 169, 169);
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}

table.prices th, table.prices td {
	border: 1px solid black;
}

div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 5px 1px;
}

div.formRow > * {
	webkit-flex: 1 1 150px;
	flex: 1 1 160px;
}

form#registration {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

form#registration > fieldset {
	background-color: rgb(169, 169, 169);
	border-radius: 15px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: 0.88em;
	padding: 10px;
	margin: 10px;
}

legend {
	background-color: rgb(169, 169, 169);
	color: white;
	padding: 5px;
}

textarea {
	margin-top: 10px;
	height: 100px;
	width: 96%;
}

video {
	box-shadow: rgb(51, 65, 60) 10px 10px 20px;
	display: block;
	margin: 20px auto;
	width: 80%;
}

/*M8LO12 Demonstrate how to format media with CSS (CSS, group your media styles together and describe their overall impact on the media feature of your page)
Here is where I made my captions to my BJJ match blue video.  You can see them in Firefox.*/
::cue {
	background: rgba(0, 0, 0, 0.5);
	color: blue;
	font: 1.3em serif;
}

/*M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML)
Here is where I created a Hover Transition on  my Nav Links.*/

nav#Links a:hover {
	color: rgb(165, 175, 170);
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-shadow: rgba(0, 0, 0, 0.5) 15px -5px 10px;
}








